@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}
.home {
  background: url('/bracket_bg.svg');
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.homeTitle {
  background: linear-gradient(90deg, rgb(14 165 233), rgb(252 211 77));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}


.brand-name {
  font-family: 'Impact', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
}

.modalSizeParent {
  height: 60%;
  width: 95%;
}

@media (orientation:landscape) {
  .modalSizeParent {
    height: 70%;
    width: 60%;
  }

}

@media (max-height: 700px){
  .homeTitle {
    font-size: 2.25rem/* 36px */ !important;
    
  }
  .homeTitle2 {
    font-size: 1.25rem/* 36px */ !important;
    
  }
  .homeTitle3 {
    margin-top: 80px;
  }
}

@media (max-width:500px) {
  .home2 {
    gap: 1rem;
  }
  .homeTitle3 {
    margin-bottom: 1rem;
  }
}

.modalSizeChild {
  height: clamp(200px, 100%, 600px);
  width: clamp(200px, 100%, 800px);
}

.hwFont {
  font-family: 'Dancing Script', cursive;
}

body:fullscreen {
  overflow: scroll !important;
}
body:-ms-fullscreen {
  overflow: scroll !important;
}
body:-webkit-full-screen {
  overflow: scroll !important;
}
body:-moz-full-screen {
  overflow: scroll !important;
}

.instructions-p {
  @apply max-w-[250px];
}

#svg-cup1 {
  animation: circleanime 3s infinite linear;
  /* transform-origin: left; */
  transform-origin: 13% 0%;
  /* transform-box: fill-box; */
}

@keyframes circleanime {
  from {
    transform: matrix(.38949, 0, 0, .38949, 167.97, 83.92) rotateY(0deg) ;
  }
  to {
    transform: matrix(.38949, 0, 0, .38949, 167.97, 83.92) rotateY(360deg) ;
  }
}

#podium-div {
  margin-top: 6rem;
}

#arrow {
  transition: all 0.3s ease-out;
  animation: breathe 4s infinite linear;  
}

#arrow:hover {
  cursor: pointer;
  transform: scale(1.5);
}

@keyframes breathe {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100%{
    opacity: 0.3;
  }
}